<style>.btn-container {
  text-align: center;
  margin-top: 20px;
}

.btn {
  background-color: #4CAF50; /* Color verde */
  color: white; /* Texto blanco */
  padding: 10px 20px; /* Relleno */
  border: none; /* Sin bordes */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Manito de cursor */
  font-size: 16px; /* Tamaño de fuente */
  transition: background-color 0.3s ease; /* Transición suave */
}

.btn:hover {
  background-color: #45a049; /* Color verde más oscuro al pasar el cursor */
}

.buscar-btn {
    background-color: white;
    /* Color de fondo blanco */
    color: #4CAF50;
    /* Color del texto verde */
    padding: 5px 10px;
    /* Relleno más pequeño */
    font-size: 14px;
    /* Tamaño de fuente más pequeño */
    border: 1px solid #4CAF50;
    /* Borde verde */
    border-radius: 4px;
    /* Bordes redondeados */
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Transición suave */
    margin-left: 10px;
    /* Margen a la izquierda para separar del input */
    margin-bottom: 3px;
  }

  .buscar-btn:hover {
    background-color: #4CAF50;
    /* Cambia a verde al pasar el cursor */
    color: white;
    /* Cambia el texto a blanco al pasar el cursor */
  }

  input[type="text"] {
    padding: 5px;
    /* Relleno para el input */
    font-size: 14px;
    /* Tamaño de fuente del input */
    border: 1px solid #ccc;
    /* Borde del input */
    border-radius: 4px;
    /* Bordes redondeados */
    margin-left: 10px;
    /* Margen a la izquierda para separar del label */
    }
  .act{
    position: absolute;
    top: 103px;
    background-color: #4CAF50;
    /* Color de fondo blanco */
    color: white;
    /* Color del texto verde */
    padding: 5px 10px;
    /* Relleno más pequeño */
    font-size: 16px;
    /* Tamaño de fuente más pequeño */
    border: 1px solid #4CAF50;
    /* Borde verde */
    border-radius: 4px;
    /* Bordes redondeados */
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Transición suave */
    margin-left: 10px;
    /* Margen a la izquierda para separar del input */
    margin-bottom: 3px;
    height: 50px;
  }
    .act:hover {
    background-color: white;
    /* Cambia a verde al pasar el cursor */
    color: #4CAF50;
    /* Cambia el texto a blanco al pasar el cursor */
  }

  .act2{
    position: absolute;
    top: 103px;
    left: 400px;
    background-color: #4CAF50;
    /* Color de fondo blanco */
    color: white;
    /* Color del texto verde */
    padding: 5px 10px;
    /* Relleno más pequeño */
    font-size: 16px;
    /* Tamaño de fuente más pequeño */
    border: 1px solid #4CAF50;
    /* Borde verde */
    border-radius: 4px;
    /* Bordes redondeados */
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Transición suave */
    margin-left: 10px;
    /* Margen a la izquierda para separar del input */
    margin-bottom: 3px;
    height: 50px;
    width: 80px;
  }
    .act2:hover {
    background-color: white;
    /* Cambia a verde al pasar el cursor */
    color: #4CAF50;
    /* Cambia el texto a blanco al pasar el cursor */
  }

</style>
<div class="btn-container">
  <label for="busquedaInput"></label>
  <input type="text" id="busquedaInput" [(ngModel)]="busqueda" />
  <button class="btn buscar-btn" (click)="almacenarBusqueda()">Buscar</button>
</div>
<div>
  <button class="act" (click)="actualizar()">Actualizar</button>
    </div>
    <div>
  <button class="act2" (click)="editar()">Editar</button>
    </div>
  <br><br>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Precio Individual</th>
      <th>Precio Mediana</th>
      <th>Precio Grande</th>
      <th>Ingrediente </th>
      <th>Ingrediente </th>
      <th>Ingrediente </th>
      <th>Ingrediente </th>
      <th>Ingrediente </th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of Productos">
      <td>{{producto.id}}</td>
      <td>{{producto.nombre}}</td>
      <td>{{producto.precioIndividual}}</td>
      <td>{{producto.precio}}</td>
      <td>{{producto.precioGrande}}</td>
      <td>{{producto.ingrediente1}}</td>
      <td>{{producto.ingrediente2}}</td>
      <td>{{producto.ingrediente3}}</td>
      <td>{{producto.ingrediente4}}</td>
      <td>{{producto.ingrediente5}}</td>
      <td>
      <button (click)= "eliminarProducto(producto.id)" class="btn btn-info;" style="margin-left : 10px; background-color: crimson;" >Eliminar</button></td>
    </tr>
  </tbody>
</table>
<div class="btn-container"> <button class="btn" (click)="redirigirProducto()">Registrar Producto</button> </div>

