<style>.btn-container {
  text-align: center;
  margin-top: 20px;
}

.btn {
  background-color: #4CAF50; /* Color verde */
  color: white; /* Texto blanco */
  padding: 10px 20px; /* Relleno */
  border: none; /* Sin bordes */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Manito de cursor */
  font-size: 16px; /* Tamaño de fuente */
  transition: background-color 0.3s ease; /* Transición suave */
}

.btn:hover {
  background-color: #45a049; /* Color verde más oscuro al pasar el cursor */
}
</style>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Precio Individual</th>
      <th>Precio Mediana</th>
      <th>Precio Grande</th>
      <th>Ingrediente </th>
      <th>Ingrediente </th>
      <th>Ingrediente </th>
      <th>Ingrediente </th>
      <th>Ingrediente </th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of Productos">
      <td>{{producto.id}}</td>
      <td>{{producto.nombre}}</td>
      <td>{{producto.precioIndividual}}</td>
      <td>{{producto.precio}}</td>
      <td>{{producto.precioGrande}}</td>
      <td>{{producto.ingrediente1}}</td>
      <td>{{producto.ingrediente2}}</td>
      <td>{{producto.ingrediente3}}</td>
      <td>{{producto.ingrediente4}}</td>
      <td>{{producto.ingrediente5}}</td>
      <td>
      <button (click)= "eliminarProducto(producto.id)" class="btn btn-info;" style="margin-left : 10px; background-color: crimson;" >Eliminar</button></td>
    </tr>
  </tbody>
</table>
<div class="btn-container"> <button class="btn" (click)="redirigirProducto()">Registrar Producto</button> </div>

