<h2>Lista ingredientes</h2>
<style>.btn-container {
  text-align: center;
  margin-top: 20px;
}

.btn {
  background-color: #4CAF50; /* Color verde */
  color: white; /* Texto blanco */
  padding: 10px 20px; /* Relleno */
  border: none; /* Sin bordes */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Manito de cursor */
  font-size: 16px; /* Tamaño de fuente */
  transition: background-color 0.3s ease; /* Transición suave */
}

.btn:hover {
  background-color: #45a049; /* Color verde más oscuro al pasar el cursor */
}
</style>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Cantidad Pizza Grande</th>
      <th>Cantidad Pizza Mediana</th>
      <th>Cantidad Pizza Individual</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ingrediente of ingredientes">
      <td>{{ingrediente.id}}</td>
      <td>{{ingrediente.nombre}}</td>
      <td>{{ingrediente.cantidad}}</td>
      <td>{{ingrediente.cantidadPizzaGrande}}</td>
      <td>{{ingrediente.cantidadPizzaMediana}}</td>
      <td>{{ingrediente.cantidadPizzaIndividual}}</td>
    </tr>
  </tbody>
</table>
<div class="btn-container"> <button class="btn" (click)="redirigir()">Registrar Ingrediente</button> </div>
