<h2>Lista ingredientes</h2>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Cantidad Pizza Grande</th>
      <th>Cantidad Pizza Mediana</th>
      <th>Cantidad Pizza Individual</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ingrediente of ingredientes">
      <td>{{ingrediente.id}}</td>
      <td>{{ingrediente.nombre}}</td>
      <td>{{ingrediente.cantidad}}</td>
      <td>{{ingrediente.cantidadPizzaGrande}}</td>
      <td>{{ingrediente.cantidadPizzaMediana}}</td>
      <td>{{ingrediente.cantidadPizzaMediana}}</td>
    </tr>
  </tbody>
</table>