<div class="form-container">
  <style>.form-container {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group .btn {
  background-color: #4CAF50; /* Color verde */
  color: white; /* Texto blanco */
  padding: 10px 20px; /* Relleno */
  border: none; /* Sin bordes */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Manito de cursor */
  font-size: 16px; /* Tamaño de fuente */
  transition: background-color 0.3s ease; /* Transición suave */
}

.form-group .btn:hover {
  background-color: #45a049; /* Color verde más oscuro al pasar el cursor */
}
         .btn2 {
            background-color: #4CAF50;
            /* Color verde */
            color: white;
            /* Texto blanco */
            padding: 10px 20px;
            /* Relleno */
            border: none;
            /* Sin bordes */
            border-radius: 4px;
            /* Bordes redondeados */
            cursor: pointer;
            /* Manito de cursor */
            font-size: 16px;
            /* Tamaño de fuente */
            transition: background-color 0.3s ease;
            /* Transición suave */
            top: 210px;
            position: absolute;
            left: 710px

        }

        .btn2:hover {
            background-color: #45a049;
            /* Color verde más oscuro al pasar el cursor */
        }

</style>
  <div class="form-group">
    <label for="id">Escribe el id del producto:</label>
    <input type="text" id="busquedaId" [(ngModel)]="buscarId" />
  </div>
  <br><br>
<h2>Modificar Venta</h2>
  <form (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="nombre">Nombre de la Venta:</label>
          <input type="text" id="nombre" [(ngModel)]="venta.nombre" name="nombre" required>
      </div>
      <div class="form-group">
          <label for="cedula">Pago:</label>
          <input type="text" id="cedula" [(ngModel)]="venta.pago" name="cedula" required>
      </div>
      <div class="form-group">
          <button type="submit" class="btn">Registrar Venta</button>
      </div>
  </form>
</div>
<div>
  <button type="button" class="btn2" (click)="buscarVenta()">Buscar Venta</button>
</div>
