<div class="form-container">
    <style>
        .form-container {
            background: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-container h2 {
            margin-bottom: 15px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
        }

        .form-group input {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .form-group .btn {
            background-color: #4CAF50;
            /* Color verde */
            color: white;
            /* Texto blanco */
            padding: 10px 20px;
            /* Relleno */
            border: none;
            /* Sin bordes */
            border-radius: 4px;
            /* Bordes redondeados */
            cursor: pointer;
            /* Manito de cursor */
            font-size: 16px;
            /* Tamaño de fuente */
            transition: background-color 0.3s ease;
            /* Transición suave */
        }

        .form-group .btn:hover {
            background-color: #45a049;
            /* Color verde más oscuro al pasar el cursor */
        }
    </style>
    <h2>Registrar Pedido</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="nombre">Nombre del Cliente</label>
            <input type="text" id="nombre" [(ngModel)]="pedido.nombreCliente" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="nombre">Cédula del Cliente</label>
            <input type="text" id="nombre" [(ngModel)]="pedido.cedulaCliente" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="nombre">Producto ID (Toping EXTRA, coloque el ID debajo de la pizza) (Si no desea agregar nada, ingrese "1")</label>
            <input type="text" id="nombre" [(ngModel)]="pedido.pedido1" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="nombre">Producto ID (Toping EXTRA, coloque el ID debajo de la pizza) (Si no desea agregar nada, ingrese "1")</label>
            <input type="text" id="nombre" [(ngModel)]="pedido.pedido2" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="nombre">Producto ID (Toping EXTRA, coloque el ID debajo de la pizza) (Si no desea agregar nada, ingrese "1")</label>
            <input type="text" id="nombre" [(ngModel)]="pedido.pedido3" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="nombre">Producto ID (Toping EXTRA, coloque el ID debajo de la pizza) (Si no desea agregar nada, ingrese "1")</label>
            <input type="text" id="nombre" [(ngModel)]="pedido.pedido4" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="nombre">Producto ID (Toping EXTRA, coloque el ID debajo de la pizza) (Si no desea agregar nada, ingrese "1")</label>
            <input type="text" id="nombre" [(ngModel)]="pedido.pedido5" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="nombre">Producto ID (Toping EXTRA, coloque el ID debajo de la pizza) (Si no desea agregar nada, ingrese "1")</label>
            <input type="text" id="nombre" [(ngModel)]="pedido.pedido6" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="nombre">Producto ID (Toping EXTRA, coloque el ID debajo de la pizza) (Si no desea agregar nada, ingrese "1")</label>
            <input type="text" id="nombre" [(ngModel)]="pedido.pedido7" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="nombre">Producto ID (Toping EXTRA, coloque el ID debajo de la pizza) (Si no desea agregar nada, ingrese "1")</label>
            <input type="text" id="nombre" [(ngModel)]="pedido.pedido8" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="nombre">Producto ID (Toping EXTRA, coloque el ID debajo de la pizza) (Si no desea agregar nada, ingrese "1")</label>
            <input type="text" id="nombre" [(ngModel)]="pedido.pedido9" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="nombre">Producto ID (Toping EXTRA, coloque el ID debajo de la pizza) (Si no desea agregar nada, ingrese "1")</label>
            <input type="text" id="nombre" [(ngModel)]="pedido.pedido10" name="nombre" required>
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn">Registrar Pedido</button>
        </div>
    </form>
</div>